#fresh-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    overflow-y: hidden;
    margin-top: 4em;
  }

  h2 {
    position: relative;
    color: #222;
  }
  h2::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #9d1111) drop-shadow(0 0 50px #d33737);
  }
  @keyframes animate {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 100%;
    }
  }
  